body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-style: arial;
}
.move_icon {
  height: 50px;
}
.title {
  font-size: 2rem;
  padding: 8px 3px;
}
.move_button{
  background: transparent;
  height: 120px;
  width: 120px;
  border: 3px solid white;
  border-radius: 60px;
  margin-right: 5px;
  cursor: pointer;
}
.result{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 16px;
  padding-top: 10px;
}
.score {
  padding-top: 30px;
}
.reset_button,
.autoplay_button {
  font-size: 1.7rem;
  padding: 8px 10px;
  margin-top: 15px;
  cursor: pointer;
}